<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- ngStorage and ngRoutes-->
    <script src="lib/ngStorage.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

  </head>
  <body ng-app="starter" ng-controller="MainCtrl">
    <ion-pane>
      <ion-header-bar class="bar bar-header wood-backgroud">
        <h1 class="title title-center light-beige">Emprestei</h1>
      </ion-header-bar>

      <ion-nav-view>
      </ion-nav-view>

      <div ng-hide="shouldHideFooter()" class="bar bar-footer ligth-backgroud">
        <div class="tabs tabs-icon-left ligth-backgroud">
          <a class="tab-item wood" href="#/loans">
            <i class="icon ion-home wood"></i>
            Início
          </a>
          <a class="tab-item wood" href="#/loan-new">
            <i class="icon ion-compose wood"></i>
            Novo
          </a>
          <a class="tab-item wood" href="#/logout">
            <i class="icon ion-log-out wood"></i>
            Sair
          </a>
        </div>
      </div>
    </ion-pane>

    <!-- Home -->
    <script id="signin.html" type="text/ng-template">
      <ion-view view-title="Login" name="signin">
        <ion-content class="padding">
          <form role="form" novalidate>
            <p class="gray padding-top">Bem vindo ao Emprestei!</p>
            <p class="gray padding-p">Seu gerenciador de empréstimos que não te deixa esquecer!</p>
            <p class="wood" >{{ error }}</p>
            <div class="list list-inset" >
              <label class="item item-input">
                <input type="email" name="email" placeholder="Email" id="email" ng-model="user.email" required>
              </label>
              <label class="item item-input">
                  <input type="password" placeholder="Senha" id="password" ng-model="user.password">
              </label>
            </div>
            <button class="button button-block button-wood" ng-click="signin()">Login</button>
          </form>
          <p class="gray padding-p center"> Novo por aqui? <a href="#/user-new" class="btn btn-link wood">Cadastre-se!</a></p>
        </ion-content>
      </ion-view>
    </script>

    <!-- Form Create new user -->
    <script id="user-new.html" type="text/ng-template">
      <ion-view title="Novo usuário">
      <form name="form" novalidate>
        <ion-content class="padding">
          <p class="gray padding-p">Ao se cadastrar, você em apenas 15 segundos, cadastra seu objeto emprestado e nós ficamos encarregado de te lembrar em pegar de volta! Vamos lá, é rápido!</p>
          <p class="wood" >{{ user.error }}</p>
          <div class="list" ng-controller="UserNewCtrl">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="text" name="email" placeholder="foo@bar.com" ng-model="user.item.email" required="">
              <div ng-show="form.$submitted || form.friend_email.$touched">
                <span class="assertive" ng-show="form.email.$error.required">Email é obrigatório.</span>
                <span class="assertive" ng-show="form.email.$error.email">Esse email não é valido.</span>
              </div>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Senha</span>
              <input type="password" placeholder="Senha" ng-model="user.item.password">
              <div ng-show="form.$submitted || form.friend_email.$touched" required="">
                <span class="assertive" ng-show="form.email.$error.required">Senha é obrigatória.</span>
              </div>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Confirmação de senha</span>
              <input type="password" placeholder="Confirmação de senha">
            </label>
            <button class="button button-block button-wood" ng-click="createUser()">
              Criar
            </button>
          </div>
        </ion-content>
        </form>
      </ion-view>
    </script>

    <!-- List of loans -->
    <script id="loans.html" type="text/ng-template">
      <ion-view title="Loans">
        <ion-content>
          <div ng-if="loans.collection.length == 0">
            <p class="gray center padding-top">Você não tem empréstimos cadastrados.</p>
          </div>
          <div ng-repeat="loan in loans.collection">
            <div class="card">
              <div class="item item-text-wrap">
                <h2>{{loan.loaned_item}}</h2>
                <p>{{loan.friend_email}}</p>
                <p>{{loan.friend_name}}   Desde: {{loan.created_at | date:"dd/MM/yyyy" }}</p>

                <div class="item tabs tabs-secondary tabs-icon-left">
                  <a class="tab-item wood" ng-click="setReturned(loan.id)">
                    <i class="icon ion-checkmark wood"></i>
                    Devolvido
                  </a>
                  <a class="tab-item wood" href="#/loan-edit/{{loan.id}}">
                    <i class="icon ion-edit wood" ></i>
                    Editar
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <!-- Form create new loan -->
    <script id="loan-new.html" type="text/ng-template">
      <ion-view title="Novo empréstimo">
      <form name="form" novalidate>
        <ion-content>
          <div class="list" ng-controller="LoanNewCtrl">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Objeto emprestado</span>
              <input type="text" name="loaned_item" placeholder="Meu objeto emprestado" ng-model="loan.item.loaned_item" required="">
              <div ng-show="form.$submitted || form.loaned_item.$touched">
                <span class="assertive" ng-show="form.loaned_item.$error.required">Informe o objeto emprestado.</span>
              </div>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Email do amigo</span>
              <input type="text" name="friend_email" placeholder="foo@bar.com" ng-model="loan.item.friend_email" required="">
              <div ng-show="form.$submitted || form.friend_email.$touched">
                <span class="assertive" ng-show="form.friend_email.$error.required">Email é obrigatório.</span>
                <span class="assertive" ng-show="form.friend_email.$error.email">Esse email não é valido.</span>
              </div>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Nome do amigo</span>
              <input type="text" placeholder="Foo" ng-model="loan.item.friend_name">
            </label>
            <label class="item item-radio padding-radio">
            <span class="input-label">Notificações:</span>
            <div ng-init="loan.item.notification='2'" />
              <ion-radio ng-model="loan.item.notification" ng-value="1">Um mês </ion-radio>
              <ion-radio ng-model="loan.item.notification" ng-value="2" >Quinze dias </ion-radio>
              <ion-radio ng-model="loan.item.notification" ng-value="3">Uma semana</ion-radio>
            </div>
            </label>
            <button class="button button-block button-wood" ng-click="createLoan()">
              Novo empréstimo
            </button>
            <br /><br /><br />
          </div>
        </ion-content>
        </form>
      </ion-view>
    </script>

    <!-- Form edit loan -->
    <script id="loan-edit.html" type="text/ng-template">
      <ion-view title="Edição de empréstimo">
      <form name="form" novalidate>
        <ion-content>
          <div class="list" ng-controller="LoanEditCtrl">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Objeto emprestado</span>
              <input type="text" name="loaned_item" ng-model="loan.loaned_item" required="">
               <div ng-show="form.$submitted || form.loaned_item.$touched">
                <span class="assertive" ng-show="form.loaned_item.$error.required">Informe o objeto emprestado.</span>
              </div>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Email do amigo</span>
              <input type="text" name="friend_email" ng-model="loan.friend_email" required="">
              <div ng-show="form.$submitted || form.friend_email.$touched">
                <span class="assertive" ng-show="form.friend_email.$error.required">Email é obrigatório.</span>
                <span class="assertive" ng-show="form.friend_email.$error.email">Esse email não é valido.</span>
              </div>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Nome</span>
              <input type="text" ng-model="loan.friend_name">
            </label>
            <label class="item item-radio padding-radio">
            <span class="input-label">Notificações:</span>
            <div ng-init="loan.notification='2'" />
              <ion-radio ng-model="loan.notification" ng-value="1">Um mês </ion-radio>
              <ion-radio ng-model="loan.notification" ng-value="2" >Quinze dias </ion-radio>
              <ion-radio ng-model="loan.notification" ng-value="3">Uma semana</ion-radio>
            </div>
            </label>
            <button class="button button-block button-wood" ng-click="editLoan()">
              Salvar alterações
            </button>
            <br /><br /><br />
          </div>
        </ion-content>
        </form>
      </ion-view>
    </script>
  </body>
</html>
